<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Gravahal Game</title>
</head>
<body>
<h1>This will be a game page!</h1>

<div>Game Status: <span th:text="${game.isGameOver()}">status</span></div>

<div>Game Board</div>

<div>
    <ul>
        <li th:each="pit : ${game.getBoard()}" th:object="${pit}">
            <div>stones: <span th:text="*{getStoneCount()}">number</span></div>
        </li>
    </ul>
</div>

<div>Next User: <span th:text="${game.getPlayerInfo()}">erkin</span></div>

</body>
</html>